.progress-bar-container {
    overflow: hidden;
    list-style-type: none;
  }
  
  .progress-bar-container li {
    float: left;
    width: 20%;
    position: relative;
    z-index: 1;
    padding: 10px;
  }
  
.progress {
    margin-bottom: 1rem;
    width: 100%;
    height: 8px;
    background: #eaeaea;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border-radius: 4px;
}

.progress:before {
    content: ' ';
    display: block;
    position: absolute;
    width: var(--width, 0%);
    height: 100%;
    background: #2ecc71;
}

.progress.progress--indeterminate:before {
    animation: 1s progressIndeterminate infinite;
}

@-moz-keyframes progressIndeterminate {
    from {
        width: 0;
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    to {
        width: 0;
        margin-left: 100%;
        margin-right: 0;
    }
}

@-webkit-keyframes progressIndeterminate {
    from {
        width: 0;
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    to {
        width: 0;
        margin-left: 100%;
        margin-right: 0;
    }
}

@-o-keyframes progressIndeterminate {
    from {
        width: 0;
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    to {
        width: 0;
        margin-left: 100%;
        margin-right: 0;
    }
}

@keyframes progressIndeterminate {
    from {
        width: 0;
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    to {
        width: 0;
        margin-left: 100%;
        margin-right: 0;
    }
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0;
}
.card {
    margin-bottom: 30px;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.57rem;
}

 .note-has-grid .nav-link {
     padding: .5rem
 }

 .note-has-grid .single-note-item .card {
     border-radius: 10px
 }

 .note-has-grid .single-note-item .favourite-note {
     cursor: pointer
 }

 .note-has-grid .single-note-item .side-stick {
     position: absolute;
     width: 3px;
     height: 35px;
     left: 0;
     background-color: rgba(82, 95, 127, .5)
 }

 .note-has-grid .single-note-item .category-dropdown.dropdown-toggle:after {
     display: none
 }

 .note-has-grid .single-note-item .category .category-business {
     background-color: rgba(44, 208, 126, .5);
     border: 2px solid #2cd07e
 }

 .note-has-grid .single-note-item .category .category-social {
     background-color: rgba(44, 171, 227, .5);
     border: 2px solid #2cabe3
 }

 .note-has-grid .single-note-item .category .category-important {
     background-color: rgba(255, 80, 80, .5);
     border: 2px solid #ff5050
 }

 .note-has-grid .single-note-item.all-category .point {
     color: rgba(82, 95, 127, .5)
 }

 .note-has-grid .single-note-item.note-business .point {
     color: rgba(44, 208, 126, .5)
 }

 .note-has-grid .single-note-item.note-business .side-stick {
     background-color: rgba(44, 208, 126, .5)
 }

 .note-has-grid .single-note-item.note-social .point {
     color: rgba(44, 171, 227, .5)
 }

 .note-has-grid .single-note-item.note-social .side-stick {
     background-color: rgba(44, 171, 227, .5)
 }

 .note-has-grid .single-note-item.note-important .point {
     color: rgba(255, 80, 80, .5)
 }

 .note-has-grid .single-note-item.note-important .side-stick {
     background-color: rgba(255, 80, 80, .5)
 }

.custom-select {
    // -webkit-appearance: none;
    box-shadow : none;
    background: transparent;
    color: #fff;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
}

.custom-select * {
    color: #000;
}