html,
body {
    -webkit-overflow-scrolling: touch;
    font-family: $font-family;
}

.fe-nav-size {
    padding: 3px 20px !important;
    margin: 0 -20px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 17px !important;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    height: 100vh;
    z-index: 999;
    background: #333;
    color: rgb(255, 255, 255, .8);
    overflow: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

#sidebar .sidebar-item a {
    font-size: 17px;
    display: flex;
}

#sidebar .sidebar-item svg {
    margin-top: 4px;
}


#sidebar .components {
    margin-top: 65px;
}

@media (min-width: 768px) {
    #sidebar {
        width: 65px;
    }

    #sidebar.active {
        width: 165px;
        left: 0;
    }

    #content {
        width: calc(100% - 65px);
        margin-left: 65px;
        height: 100vh;
        padding: 0 20px;
    }

    #content.active {
        width: calc(100% - 165px);
        margin-left: 165px;
    }

    #sidebar.active .sidebar-item a span {
        margin-left: 15px;
        color: rgb(238, 238, 238, .6);
    }

    .sidebar-header,
    .sidebar-item a span {
        display: none;
    }

    #sidebar.active .sidebar-header,
    #sidebar.active .sidebar-item a span {
        display: inline-block;
    }

    #sidebarCollapse {
        display: none;
    }
}

@media (max-width: 767.98px) {
    #sidebarCollapse {
        display: block;
    }

    // .sidebar-item a i {
    //     font-size: 15px;
    //     color: #f7f7f7;
    //     width: 10px;
    // }

    .sidebar-item a span {
        margin-left: 13px;
        color: rgb(238, 238, 238, .6);
        font-weight: 600;
        font-size: 16px;
    }

    #sidebar {
        width: 200px;
        top: 0;
        left: -200px;
    }

    #sidebar.active {
        left: 0;
    }

    #content {
        width: 100%;
        padding: 0 20px;
        height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }

    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 998;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }
}

#sidebar-menu-button {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 13px;
    left: 15px;
    cursor: pointer;
    transition: all 0.3s;
}
.sidebar-item {
    height: 50px;
    padding-left: 23px;
}

.tooltip-inner {
    background-color: #333 !important;
    color: #fff;
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #333 !important;
}

.close-custom {
    margin-top: -34px;
    margin-right: 7px;
    font-size: 19px;
    cursor: pointer;
    background: #fff;
    color: #ced4da;
    opacity: 1;
}

.icons-nav {
    border-radius: 50%;
    width: 40px;
    color: #767676;
    height: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}

.title-nav {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
    color: #333;
}

.bg-lightblue {
    background-color: $lightblue;
}

.btn-circle { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 