@font-face {
    font-family: 'Futura';
    src: url('/fonts/FuturaBT-Light.eot');
    src: url('/fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaBT-Light.woff2') format('woff2'),
        url('/fonts/FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Bk';
    src: url('/fonts/FuturaBT-Book.eot');
    src: url('/fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaBT-Book.woff2') format('woff2'),
        url('/fonts/FuturaBT-Book.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.eot');
    src: url('/fonts/Montserrat.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat.woff2') format('woff2'),
        url('/fonts/Montserrat.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Futura', sans-serif;
$font-family: 'Futura-Bk', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lightblue: rgb(165, 223, 248);

      
.google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}
.google-button__icon svg {
    vertical-align: initial !important;
}

.google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
}