@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaBT-Light.eot');
    src: url('../fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBT-Light.woff2') format('woff2'),
        url('../fonts/FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-B';
    src: url('../fonts/FuturaBT-Book.eot');
    src: url('../fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBT-Book.woff2') format('woff2'),
        url('../fonts/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    -webkit-font-smoothing: antialiased;
}

html, body {
    font-family: 'Futura-B', 'Futura', sans-serif;
}

.alert {
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0 228px;
    max-width: 453px;
    margin: 10px auto;
}

.alert-danger {
    background: #e74c3c;
}

.alert-success {
    background: #2ecc71;
}