<template>
    <div>
        <ul class="progress-bar-container mt-1">
            <li class="p-0 px-1" v-for="track in trackers" :key="track.id">
                <div v-if="track.id < track_idNew" class="progress" style="--width: 100%">
                    <div class="bar"></div>
                </div>
                <div v-else-if="track.id == track_idNew" class="progress progress--indeterminate">
                    <div class="bar"></div>
                </div>
                <div v-else class="progress">
                    <div class="bar"></div>
                </div>
                <strong class="d-none d-md-block">{{ track.name }}</strong>
            </li>
        </ul>
        <div>
            <h3>{{ statusNew }}</h3>
        </div>
        <div class="feedback  feedback--small  feedback--neutral  feedback--in-stock">
            <div class="feedback__icon  u-hide-block  u-display-block--ml">
                <i class="svg-icon  svg-icon--inline  svg-icon--in-stock"></i>
            </div>
            <div class="feedback__message">
                <div class="feedback-title">
                    Order {{ statusNew }}. Ships from us in 2 to 5 days.
                </div>
                <div class="feedback-description">
                    <span v-if="statusNew == 'Placed'">
                        <p class="mb-0">Your Order was successuflly place.</p>
                    </span>
                    <span v-if="statusNew == 'Pickup'">
                        <p class="mb-0">Your item was Accepted.</p>
                    </span>
                    <span v-if="statusNew == 'Arrived At facility'">
                        <p class="mb-0">Your item arrived at our USPS facility in COLUMBUS, OH 43218 on January 6,
                        2016 at 10:45 pm. The item is currently in transit to the destination.</p>
                    </span>
                    <span v-if="statusNew == 'Out of delivery'">
                        <p class="mb-0">Your Order is en route to be Delivered.</p>
                    </span>
                    <span v-if="statusNew == 'Delivered'">
                        <p class="mb-0">Your Order is close, A agent might call you when close.</p>
                    </span>
                    <span v-if="statusNew == 'Completed'">
                        <p class="mb-0">Your Order was Delivered.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['status','track_id','order_id'],

        data() {
            return {
                trackers: [],
                statusNew: this.status,
                track_idNew: this.track_id,
            }
        },

        mounted(){
            this.loadTrackers();
            Echo.channel('Order-tracker.' + this.order_id)
            .listen('OrderStatusChanged', (data) => {
                this.statusNew = data.order.status;
                this.track_idNew = data.order.status_track_id;
            });
        },
        methods: {
            loadTrackers(){
                this.trackers = [
                    {
                        id: 1,
                        name: "Placed",
                    },
                    {
                        id: 2,
                        name: "Pickup",
                    },
                    {
                        id: 3,
                        name: "Arrived At facility",
                    },
                    {
                        id: 4,
                        name: "Out of delivery",
                    },
                    {
                        id: 5,
                        name: "Delivered",
                    },
                ]
            }
        }
    }
</script>
